*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    position: relative;

}
#mtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    color: white;
    width: 100%;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    line-height: 1;
}
#mtext h1{

    font-weight: 200;
    font-size: 5vw;
    white-space: nowrap;
    line-height: 1;
}
#mtext h3{
    font-weight: 200;
    font-size: 3vw;
    white-space: nowrap;
    line-height: 1;
}
#left{
    width: 45%;
    height: 100%;
    background-color: grey;
    position: relative;
    overflow: hidden;
}
#centerimg{
    width: 50%;
    height: 60%;
    background-image: url(hi.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    background-position: center;
    
}
#center{
    width: 45%;
    height: 100%;
    background-image: url(hi.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
#card{
    width: 200px;
    height: 160px;
    bottom: 5%;
    position: absolute;
    right: -15%;
    background-color: rgb(46, 46, 37);
    /* border: 1px solid white; */
    border-radius: 3%;
    display: flex;

}
#cimage{
    background-image: url(hi.jpg);
    background-size: cover;
    /* background-position: center; */
    width: 75%;
    height: 100%;
}
#cicon{
    width: 25%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
#cicon i{
    font-size: 29px;
    font-weight: 500;
}
#right{
    width: 10%;
    height: 100%;
    /* background-color: yellow; */
    position: relative;
}

#nav{
    color: white;
    display: flex;
    padding: 50px 60px;
    display: flex;
    gap: 100px;
    align-items: center;

}
#nav a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
#nav h3{
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 15px;
}
#text{
    width: 100%;
    position: absolute;
    top: 110%;
    display: flex;
    color: white;
    font-size: 12px;
    align-items: center;

}
#head{
    width: 30%;
    font-size: 14px;
    font-weight: 600;
    
}
#head h5{
    margin-bottom: 10px;
}
#para{
    width: 70%;
}
#para p{
    font-size: 12px ;
    line-height: 20px;
    font-weight: 400;
}
#scroll{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 5%;
    transform-origin: 0% 50%;
    transform: rotate(270deg);
    gap: 20px;
   
    
}
#scroll h5{
    font-weight: 500;
    color: white;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 15px;
    /* margin-left: 10px; */
}
#line{
    width: 150px;
    height: 2px;
    background-color: white
}

#relem{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
    
}
#rlinks a{
    display: flex;
    flex-direction: column;
    padding: 30px;
    
    text-decoration: none;
    color: white;
    /* transform-origin: 0 50%; */
    transform: translateY(-40%) rotate(90deg);
    
}

#rlinks{
    position: absolute;
    top: 50%;
    

}
#icon{
    position: absolute;
    right: 50%;
    top: 5%;
    color: white;
    font-size: 20px;
}